SOCOFING_DATASET_PATH="E:/SOCOFing/Real"
MODEL_PATH="results/trained_models/embedding_net.pth"
MODEL_SAVE_PATH="results/trained_models/embedding_net.pth"
ENROLLMENT_DB_PATH="results/enrollments/enrollment_db.pkl"
HISTORY_PATH="results/trained_models/training_history.csv"
HISTORY_SAVE_PATH="results/trained_models/training_history.csv"
RESULTS_PATH="results/validations/validation_results.pkl"
RESULTS_SAVE_PATH="results/validations/validation_results.pkl"
OUTPUT_DIR="results/plots"
