# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Distributions and packaging
.Python
build/
dist/
eggs/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.nox/

# Virtual environment
venv/
env/
.venv/

# Editors
.idea/
*.iml
.vscode/

# OS
.DS_Store
.Trashes
Thumbs.db

# MyPy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.pytest_cache/

# Logs
*.log

# Environment
.env

trained_models/*